:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --header-color: #333;
    --link-color: #000000; /* 亮色模式下的連結顏色為黑色 */
    --box-bg-color: #f9f9f9;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --header-color: #000000;
    --link-color: #ffffff; /* 深色模式下的連結顏色為白色 */
    --box-bg-color: #1e1e1e;
    --box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

a {
    color: var(--link-color); /* 根據主題變化顏色 */
    text-decoration: underline; /* 永遠有底線 */
}

a:hover {
    text-decoration: none; /* 滑過時可以選擇取消底線效果 */
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
    scroll-behavior: smooth; /* 平滑滾動 */
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--header-color);
    top: 0;
    left: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.dark-mode-toggle img {
    width: 30px;
    cursor: pointer;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
}

.box {
    background-color: var(--box-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    width: 80%;
    max-width: 800px;
    text-align: left; /* 內文靠左 */
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column; /* 讓內容在方塊內排列 */
    justify-content: center;
}

.box:hover {
    transform: translateY(-10px);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--header-color);
    color: white;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: var(--header-color);
        width: 100%;
        flex-direction: column;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }
}
